/* ============================================
   Profit & Loss Report
   ============================================ */
.report__grid {
    -fx-hgap: 1;
    -fx-vgap: 1;
    -fx-padding: 1;
}

.report__header {
    -fx-font-size: 12px;
    -fx-font-weight: 600;
    -fx-text-fill: #8B8D99;
    -fx-padding: 8 12;
}

.report__header-value {
    -fx-alignment: CENTER_RIGHT;
}

.report__cell {
    -fx-font-size: 14px;
    -fx-text-fill: #272932;
    /*-fx-background-color: white;*/
    -fx-padding: 6 12;
}

.report__name {
    -fx-font-weight: 600;
}

.report__income {
    -fx-text-fill: #72A276;
}

.report__expense {
    -fx-text-fill: #CA2E55;
}

.report__total {
    -fx-font-size: 15px;
    -fx-font-weight: 700;
}

.report__profit {
    -fx-font-size: 16px;
    -fx-font-weight: 700;
    -fx-text-fill: #72A276;
}

.report__loss {
    -fx-font-size: 16px;
    -fx-font-weight: 700;
    -fx-text-fill: #CA2E55;
}

.report__profit-name {
    -fx-font-size: 16px;
    -fx-font-weight: 700;
}

.report__separator {
    -fx-min-height: 1;
    -fx-max-height: 1;
    -fx-background-color: #EFEFF2;
}