.root-pane {
    -fx-font-family: "Inter 18pt";
    -fx-background-color: #FDFFFC;
}

.content-area {
    -fx-background-color: #FDFFFC;
    -fx-padding: 24;
}

.content-greeting {
    -fx-text-fill: #020618;
    -fx-font-size: 24px;
}
